.homeContainer {
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    margin-left: 0px !important;
    margin-right: 0px !important;  
    background-color: white !important;
    height: max-content !important;
    min-height: max-content !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

mat-card-content.subtitulo{
    min-height: 40px !important;
    cursor: pointer;
}

.color-card{
    background-color: #010f1f !important;
  color:white !important;
}

.centerA:hover {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 3px 0 rgba(252, 185, 0, 0.6)!important;
    font-family: sans-serif, Roboto, Arial, sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    letter-spacing: 0.2em !important;
    text-transform: uppercase !important;
}

.margenImagen{
    padding: 15px !important;
}

.opaca {
    opacity: 0.4 !important;
}
.centerA {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 3px 0 rgba(0,0,0,0.6)!important;
    font-family: sans-serif, Roboto, Arial, sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    letter-spacing: 0.2em !important;
    text-transform: uppercase !important;
}
.bottomrightA {
cursor: pointer;
position: absolute;
bottom: 80px;
right: 16px;
font-size: 18px;
}
.bottomleftA {
position: absolute;
top: 8px;
left: 16px;
font-size: 8px;
}

.toprightA {
cursor: pointer;
position: absolute;
top: 0px;
right: 16px;
font-size: 18px;
}

.topleftA {
    cursor: pointer;
position: absolute;
top: 8px;
left: 16px;
font-size: 18px;
}

.autor{
    text-align: right !important;
}
  