<div class="modal-dialog modal-dialog-scrollable modal-lg bordeado">
        <div class="modal-content bordeado">
          <div class="modal-body bordeado" >
              <div class="modal-footerA">
                  <button mat-button color="pinkA" (click)="close()">cerrar</button>
              </div>  
                  <mat-horizontal-stepper [linear]="true" #stepper class="bordeado"  labelPosition="bottom" >
                          <mat-step [stepControl]="secondFormGroup" errorMessage="!">
                            <form class="example-form" [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>datos personales</ng-template>
                                <hr>
                                 <mat-form-field>
                                    <mat-label>Sr/Sra/T@des</mat-label>
                                    <mat-select name="sex" formControlName="sexo">
                                      <mat-option *ngFor="let sex of sexs" [value]="sex.value">
                                        {{sex.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                  
                                  <mat-form-field class="example-full-width"> 
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="su nombre" formControlName="nombre" required>
                                  </mat-form-field>
                  
                                  <mat-form-field class="example-full-width">
                                    <mat-label>Apellido</mat-label>
                                      <input matInput placeholder="su apellido" formControlName="apellido" required>
                                  </mat-form-field>
                  
                                  <mat-form-field>
                                      <mat-label>Fecha nacimiento</mat-label>
                                      <input matInput [matDatepicker]="dp3" (dateChange)="formatDate($event)" formControlName="fechaNacimiento" required>
                                      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                
                                
                                <div class="colorTextoBlanco marto20">
                                    <button mat-raised-button class="pink" (click)="segundoStep();" matStepperNext>Siguiente</button>
                                  </div>
                  
                            </form>
                          </mat-step>
                  
                          <mat-step [stepControl]="thirdFormGroup" errorMessage="!">
                            <form class="example-form" [formGroup]="thirdFormGroup">
                              <ng-template matStepLabel>datos personales</ng-template>
                              <hr>
                              <mat-form-field class="example-full-width"> 
                                  <mat-label>Pais</mat-label>
                                  <mat-select formControlName="pais" (selectionChange)="onChangeCountry($event.value)">
                                    <mat-option *ngFor="let country of countryInfo ; index as i;" [value]="i" >
                                      {{country.CountryName}}
                                    </mat-option>
                                  </mat-select>
                              </mat-form-field>
                  
                              <mat-form-field class="example-full-width">
                                  <mat-label>Estado/Ciudad</mat-label>
                                  <mat-select formControlName="ciudad" (selectionChange)="onChangeState($event.value)"  >
                                    <mat-option *ngFor="let state of stateInfo" [value]="state.StateName">
                                        {{state.StateName}}
                                    </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              
                              <mat-form-field class="example-full-width">
                                  <mat-label>Telefono</mat-label>
                                    <input type="number" matInput placeholder="Ej: 34653058319" formControlName="telefono" required>
                                </mat-form-field>
                  
                                <div class="row marto20 alineado">
                                    <div>
                                      <button mat-raised-button class="pink" matStepperPrevious>Atras</button>
                                    </div>
                                    <span class="fx-spacer"></span>
                                    <div>
                                      <button mat-raised-button class="pink" (click)="tercerStep();" matStepperNext>Siguiente</button>
                                    </div>
                                </div>
                              
                            </form>
                          </mat-step>
                  
                          <mat-step [stepControl]="fourFormGroup" errorMessage="!">
                              <form class="example-form" [formGroup]="fourFormGroup">
                                <ng-template matStepLabel>profesion / interes</ng-template>
                                <hr>
                                <p class="colorTextoBlanco">En este sitio nos interesa conectar ideas, arte, intereses, actividades, profesiones y pasión, cuantos más sincero seas más adaptadas serán las recomendaciones para ti.</p>
                                <hr>
                                 <mat-form-field class="example-chip-list example-full-width">
                                    <mat-chip-list #chipListProfesiones formControlName="profesiones">
                                      <mat-chip
                                        *ngFor="let prof of profesionesList"
                                        [selectable]="selectable"
                                        [removable]="removable"
                                        (removed)="removeProf(prof)">
                                        {{prof}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                      </mat-chip>
                                      <input
                                        placeholder="Agregar tu/s profesion/es ..."
                                        #profesionesInput
                                        [formControl]="profesionCtrl"
                                        [matAutocomplete]="auto"
                                        [matChipInputFor]="chipListProfesiones"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        (matChipInputTokenEnd)="addProfesion($event)">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto (optionSelected)="selectedProf($event)">
                                      <mat-option *ngFor="let prof of filteredProfesiones | async" [value]="prof">
                                        {{prof}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field> 
                  
                  
                                  <mat-form-field class="example-chip-list example-full-width">
                                      <mat-chip-list #chipListProfesionesInteres formControlName="profesionesInteres">
                                        <mat-chip
                                          *ngFor="let profInteres of profesionesListInteres"
                                          [selectable]="selectableInteres"
                                          [removable]="removableInteres"
                                          (removed)="removeProfInteres(profInteres)">
                                          {{profInteres}}
                                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                          placeholder="Agregar las profesiones de tu interes ..."
                                          #profesionesInteresInput
                                          [formControl]="profesionInteresCtrl"
                                          [matAutocomplete]="autoInteres"
                                          [matChipInputFor]="chipListProfesionesInteres"
                                          [matChipInputSeparatorKeyCodes]="separatorKeysCodesInteres"
                                          (matChipInputTokenEnd)="addProfesionInteres($event)">
                                      </mat-chip-list>
                                      <mat-autocomplete  #autoInteres (optionSelected)="selectedProfInteres($event)">
                                        <mat-option *ngFor="let profInteres of filteredProfesionesInteres | async" [value]="profInteres">
                                          {{profInteres}}
                                        </mat-option>
                                      </mat-autocomplete>
                                    </mat-form-field>
                      
                                    <div class="row marto20 alineado">
                                        <div>
                                          <button mat-raised-button class="pink" matStepperPrevious>Atras</button>
                                        </div>
                                        <span class="fx-spacer"></span>
                                        <div>
                                          <button mat-raised-button class="pink" (click)="cuartoStep();" matStepperNext>Siguiente</button>
                                        </div>
                                    </div> 
                                
                              </form>
                          </mat-step>
                  
                          <mat-step [stepControl]="fiveFormGroup" errorMessage="!">
                              <form class="example-form" [formGroup]="fiveFormGroup">
                                <ng-template matStepLabel>perfil</ng-template>
                                <hr>  
                                <p class="colorTextoBlanco">No necesitamos ser anónimos aquí, cuanto más transparente seamos mejor sera nuestra alquimia. Anda! pon una fotografía bonita de ti.</p>
                                <hr>
                                <div  class="text-center">
                                    <label class="circle text-center">
                                        <input formControlName="avatar" type="file" (change)="fileChangeEvent($event)">
                                        <mat-icon class="camaraAlign">camera_enhance</mat-icon>
                                    </label>
                                </div>
                  
                                <div class="text-center bordeado" >
                                    <image-cropper class="bordeado"
                                        [imageChangedEvent]="imageChangedEvent"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="1 / 1"
                                        format="png"
                                        (imageCropped)="imageCropped($event)"
                                        (imageLoaded)="imageLoaded()"
                                        (cropperReady)="cropperReady()"
                                        (loadImageFailed)="loadImageFailed()"
                                    ></image-cropper>
                                </div>
    
                                <div class="center marto20" >
                                    <img  [src]="croppedImage|| scope.userLogged.avatar ||'assets/img/avatar.png'" class="avatarImage img-fluid">
                                </div>
    
                                <div class="row marto20 alineado">
                                    <div>
                                      <button mat-raised-button class="pink" matStepperPrevious>Atras</button>
                                    </div>
                                    <span class="fx-spacer"></span>
                                    <div>
                                      <button mat-raised-button class="pink" (click)="guardarCambios();close();" matStepperNext>Confirmar !</button>
                                    </div>
                                </div>
                                
                              </form>
                          </mat-step>
                    </mat-horizontal-stepper>
                    
             </div>
        </div>
    </div>
