

<div  class="h-100 homeContainer">
    <a class="btn btn-danger btn-sm alineadoDerecha marto15" (click)="logout()">logout</a>
</div>


<ng-template #content let-c="close" let-d="dismiss" let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar Amigo</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <b>Ingresa el email de tu amigo</b>
        <input type="email" class="form-control" placeholder="Emails" [(ngModel)]="amigoEmail" (keyup.enter)="(enviarSolicitud())">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(enviarSolicitud())">Guardar</button>
    </div>
</ng-template>
